In [1]:
import pandas as pd

In [18]:
df = pd.DataFrame({"A": [None, 2, 3], "B": [4, 5, None], "C": ["7", 8, None]})
df["A"] = df["A"].astype(pd.Int64Dtype())
df = df.astype(object).fillna("?").astype(str)
df

   A    B  C
0  ?  4.0  7
1  2  5.0  8
2  3    ?  ?

In [21]:
df["_NAME"] = df[["A", "B"]].apply(lambda x: ", ".join(x), axis="columns")
df

   A    B  C   _NAME
0  ?  4.0  7  ?, 4.0
1  2  5.0  8  2, 5.0
2  3    ?  ?    3, ?